@import "tailwindcss";

body {
    background: #f5f5f5;
    font-family: "open-sans" Sans-Serif;
    color: #212529;
}
.heading-text {
    font-family: "montsserat" Sans-Serif;
}
.brand-color {
    background: #ff6f61;
}
.brand-text-color {
    color: #ff6f61;
}
.button-color {
    background: #0047ab;
}
.background-design {
    position: absolute;
    min-height: 100%;
    width: 100vw;
    background: linear-gradient(to right, brown, gray);
    opacity: 0.2;
    color: white;
    z-index: 100;
}
.background-image {
    background: url("/images/login.png");
    background-position: top-center;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    object-fit: contain;
    position: relative;
    z-index: 1000;
}
